click==6.7
cycler==0.10.0
descartes==1.1.0
Flask==1.0.2
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.2
numpy==1.14.5
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
scipy==1.1.0
Shapely==1.6.4.post1
six==1.11.0
Werkzeug==0.14.1
WTForms==2.2.1
