{% extends "base.html" %}
  
{% block content %}
    <h5>Acknowledgements</h5>
        <p>
This webtool was created collaboratively as part of the 2018 Rocky Mountains Genomic Hackathon with the generous help of the BioFrontiers Institute IT Department at the University of Colorado. Team McDiff members are Ben Cohen (National Institute of Health), Jack Dempsey (University of Colorado), Mohit Thakur (University of Georgia), Scott Nordstrom (University of Colorado) and Johannes Rudolph (University of Colorado).
		</p>
        <p>
        </p>
{% endblock %}
