{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-lg-6">
        <p>Transport and accumulation of a protein at a site of DNA damage (region of interest = ROI) in the nucleus is modeled using a simple diffusional process, subject to the boundary conditions enforced by the nuclear perimeter (Nuclear Mask). Optimal values of the diffusion coefficient (D) and F (mobile fraction) are returned for your experimental data along with overlay graphs and exportable files of the simulation.</p>
    </div>
    <div class="col-lg-4 offset-lg-1">
  <form action="/results/" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
      {{ form.csv.label }}: <br>
      {{ form.csv() }} 
      {% for error in form.csv.errors %}
      <br><span style="color: red;">[{{error}}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.roi_file.label }}: <br>
      {{ form.roi_file() }}
      {% for error in form.roi_file.errors %}
      <br><span style="color: red;">[{{error}}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.mask_file.label }}: <br>
      {{ form.mask_file() }}
      {% for error in form.mask_file.errors %}
      <br><span style="color: red;">[{{error}}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.bound_d.label }}: <br>
      {{ form.bound_d() }}
      {% for error in form.bound_d.errors %}
      <br><span style="color: red;">[{{error}}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.exp_time.label }}: <br>
      {{ form.exp_time() }}
      {% for error in form.exp_time.errors %}
      <br><span style="color: red;">[{{error}}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.sigma_d.label }}: <br>
      {{ form.sigma_d() }}
      {% for error in form.sigma_d.errors %}
      <br><span style="color: red;">[{{error}}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.sigma_f.label }}: <br>
      {{ form.sigma_f() }}
      {% for error in form.sigma_f.errors %}
      <br><span style="color: red;">[{{error}}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.mcmc_temp.label }}: <br>
      {{ form.mcmc_temp() }}
      {% for error in form.mcmc_temp.errors %}
      <br><span style="color: red;">[{{error}}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.offset.label }}: <br>
      {{ form.offset() }}
      {% for error in form.offset.errors %}
      <br><span style="color: red;">[{{error}}]</span>
      {% endfor %}
  </p>
  <p>
      {{ form.steps.label }}: <br>
      {{ form.steps() }}
      {% for error in form.steps.errors %}
      <br><span style="color: red;">[{{error}}]</span>
      {% endfor %}
  </p>
  <p>
      {{ form.submit() }}</p>
  </form>
    </div>
    </div>
{% endblock %}
